In [1]:
import pandas as pd # package for high-performance, easy-to-use data structures and data analysis

In [2]:
## Load the DATA
app_train = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/application_train.csv')
pos_cash_balance = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/POS_CASH_balance.csv')
bureau_balance = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/bureau_balance.csv')
previous_app = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/previous_application.csv')
installments_payments = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/installments_payments.csv')
credit_card_balance = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/credit_card_balance.csv')
bureau = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/bureau.csv')
app_test = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/application_test.csv')

In [3]:
new_features = pd.read_csv('/Users/mauroaz/Downloads/home-credit-default-risk_02/new_file.csv')

In [4]:
new_features.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,payment_rate,no_inquiries_MON_to_birth,no_inquiries_DAY_to_birth,no_inquiries_WEEK_to_birth,avg_external_source,income_avg_external_source,social_circle_obs_30_to_income,social_circle_def_30_to_income,social_circle_obs_60_to_income,social_circle_def_60_to_income
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.060749,-0.0,-0.0,-0.0,0.161787,1.251645e+06,0.000010,0.00001,0.000010,0.000010
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.027598,-0.0,-0.0,-0.0,NaN,NaN,0.000004,0.00000,0.000004,0.000004
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.050000,-0.0,-0.0,-0.0,NaN,NaN,0.000000,0.00000,0.000000,0.000000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.094941,NaN,NaN,NaN,NaN,NaN,0.000015,0.00000,0.000015,0.000015
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.042623,-0.0,-0.0,-0.0,NaN,NaN,0.000000,0.00000,0.000000,0.000000

In [5]:
# Dril Down to check for: Categoricals ==> (Python cannot recognize DATATYPE 'objects' ) 
new_features

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

list(new_features.select_dtypes(exclude=numerics).columns)

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [6]:
new_features.shape

(307511, 139)

In [7]:
app_train.shape

(307511, 122)